@import "tailwindcss";
@import './veltacapital-design-tokens.css';

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-base);
}